/* PAGE ELEMENTS */

/* Special for mobile */
@media all and (min-width: 1024px) and (max-width: 1580px) { 
	main {
		width: 67% !important;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
	h1 {
		font-size: 2.7em !important;
	}

	h3 {
		font-size: 1.45em !important;
	}

	main {
		width: 75% !important;
	}
}

@media all and (min-width: 480px) and (max-width: 768px) { 
	h1 {
		font-size: 2em !important;
	}

	h3 {
		font-size: 1.25em !important;
	}

	main {
		width: 85% !important;
	}
}

@media all and (max-width: 480px) { 
	h1 {
		font-size: 2em !important;
	}

	h3 {
		font-size: 1.25em !important;
	}

	main {
		width: 90% !important;
	}
}



p,
h1,
h2,
h3,
h4,
a {
  /* margin: 0 !important; */
  /* font-weight: 400 !important; */
}

body {
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px !important;
	padding: 1em !important;
  }

main {
	margin: 0 auto;
}

p {
	font-size: 1em !important;
	font-weight:300 !important;
	line-height: 1.5 !important;
}

#headline {
	text-align:center !important;
	font-weight:500 !important;
	font-family: 'Archivo' !important;
}

h1 {
	margin: 0.25em 0 !important;
}

h3 {
	margin: 0.25em 0 !important;
	text-align:center !important;
	font-weight: 300 !important;
}

#intro {
	/* width:95% !important; */
	margin:0 auto !important;
	margin-bottom:30px !important;
}

#line-chart-title {
	text-align: left !important;
	font-size: 1em !important;
	font-weight: 600 !important;
	margin-bottom: 10px !important;
}

#bar-chart-title {
	text-align: left !important;
	font-size: 1em !important;
	font-weight: 600 !important;
	margin-bottom: 25px !important;
}

#outro {
	margin-top: 60px;
}

.item-top {
	font-weight: 500;
	background: #378f89;
	color: #ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 1px;
	margin-left: 1px;
	border-radius: 4px;
	white-space: nowrap;
}

.item-bottom {
	font-weight: 500;
	background: #f0c294;
	color: #ffffff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 1px;
	margin-left: 1px;
	border-radius: 4px;
	white-space: nowrap;
}


/* CHART STYLES */

.y-axis-group text {
	font-family: 'PT Sans' !important;
	font-size:1.2em !important;
}
  
.x-axis-group text, .x-axis-group-bars text {
	font-family: 'PT Sans' !important;
	font-size:1.2em !important;
}

.y-axis-group g line {
    	stroke:  #e0e0e0 !important;
	}

.x-axis-group g line {
	stroke:  #000000 !important;
}

.x-axis-group-bars g line {
	stroke:  #e0e0e0 !important;
	mix-blend-mode: multiply !important;
}

.domain {
	display: none !important;
  }

.line-label {
	paint-order: stroke !important;
	stroke-width: 3 !important;
	stroke: #FFFFFF !important;
	text-anchor: end !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: .88em !important;
	/* text-align: right; */
  }

.bars {
	border-radius: 50% !important;
}


.svg-tooltip {
    /* background: rgba(255, 255, 255, 0.9); */
	background-color: rgba(255, 255, 255, 0.8) !important;
	backdrop-filter: blur(5px) !important;
	/* box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.4); */
    color: #000000;
    display: block;
    font-size: 0.9em;
    /* max-width: 320px; */
    padding: .2rem .4rem;
    position: absolute;
    text-overflow: ellipsis;
    white-space: pre;
    z-index: 300;
    visibility: hidden;
	border: 1px solid black;
  }


/* SCROLL ELEMENTS */
#scrolly {
	position: relative !important;
	/* background-color: #f3f3f3 !important; */
	padding: 1rem !important;
}

article {
	position: relative !important;
	padding: 0 !important;
	/* max-width: 20rem !important; */
	margin: 0 auto !important;
}

figure {
	position: -webkit-sticky !important;
	position: sticky !important;
	left: 0 !important;
	/* width: 100%; */
	margin: 0 auto!important;
	-webkit-transform: translate3d(0, 0, 0) !important;
	-moz-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
	/* background-color: #8a8a8a !important; */
	z-index: 0 !important;
}

figure p {
	text-align: center !important;
	padding: 1rem !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	-moz-transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
	font-size: 8rem !important;
	font-weight: 900 !important;
	color: #000000 !important;
}

.step {
	margin: 0 auto !important;
	/* width: 100%; */
	max-width: 45%;
	min-width: 275px;
	/* color: #fff !important; */
	background-color: rgba(255, 255, 255, 0.8) !important;
	backdrop-filter: blur(5px) !important;
	box-shadow: 0 0 1.5px 0 rgba(0, 0, 0, 0.4);
	margin-bottom: 800px !important;
	
}

/* .step:last-child {
	margin-bottom: 0 !important;
} */

/* .step.is-active p {
	background-color: goldenrod !important;
	color: #3b3b3b !important;
} */

.step p {
	/* text-align: center !important; */
	padding: 1rem !important;
	/* font-size: 1.5rem !important; */
	/* background-color: #3b3b3b !important; */
}