/* PAGE ELEMENTS */

h1 {
	color: turquoise !important;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0 !important;
  font-weight: 400 !important;
}


/* SCROLL ELEMENTS */
#scrolly {
	position: relative !important;
	background-color: #f3f3f3 !important;
	padding: 1rem !important;
}

article {
	position: relative !important;
	padding: 0 !important;
	max-width: 20rem !important;
	margin: 0 auto !important;
}

figure {
	position: -webkit-sticky !important;
	position: sticky !important;
	left: 0 !important;
	/* width: 100%; */
	margin: 0 !important;
	-webkit-transform: translate3d(0, 0, 0) !important;
	-moz-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
	background-color: #8a8a8a !important;
	z-index: 0 !important;
}

figure p {
	text-align: center !important;
	padding: 1rem !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	-moz-transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
	font-size: 8rem !important;
	font-weight: 900 !important;
	color: #fff !important;
}

.step {
	margin: 0 auto 2rem auto !important;
	color: #fff !important;
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.step:last-child {
	margin-bottom: 0 !important;
}

.step.is-active p {
	background-color: goldenrod !important;
	color: #3b3b3b !important;
}

.step p {
	text-align: center !important;
	padding: 1rem !important;
	font-size: 1.5rem !important;
	background-color: #3b3b3b !important;
}